<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Intro a HTML">
        <title>Esopo Good</title>
        <link rel = "" href = "../assets/img/bxs-cat.svg">
        <link rel = "stylesheet" type = "text/css" href = "../assets/css/stylesEsopo.css">
    </head>
    <body>
        <div class="esopo">
            <h1>Biografía Esopo</h1>
            
            <div>
                <img src="../assets/img/esopo.jpeg">
                <p>(S.VI a.C.) Escritor griego. Uno de los más antiguos géneros de la literatura universal es la fábula, un tipo de relato breve protagonizado por animales personificados cuya finalidad didáctica se explicita en una moraleja final. La Grecia clásica atribuyó a Esopo la invención de este género, igual que asignó a Homero la paternidad de la épica</p>
                <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="homero"><a href="https://es.wikipedia.org/wiki/Esopo">Homero como cantor de las gestas de los héroes</a></span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>
            </div>
        </div>
    </body>
</html>