<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Intro a HTML">
        <title>Fábula</title>
        <link rel = "" href = "../assets/img/bxs-cat.svg">
        <link rel = "stylesheet" type = "text/css" href = "../assets/css/stylesFabula.css">
    </head>
    <body>
        <h1>La Liebre y la Tortuga</h1>
        <h2>Fábula de Esopo</h2>
        <img src="../assets/img/liebreytortuga.jpeg">
        <p class="fuente">Figura 1: La liebre y la tortuga</p>
        <p class="fuente">Tomado de: https://arbolabc.com/fabulas-para-niños/la-tortuga-y-la-liebre</p>
        <p>
            Había una vez una liebre muy vanidosa que se pasaba todo el día presumiendo de lo rápido que podía correr.
            <br>
            Cansada de siempre escuchar sus alardes, la tortuga la retó a competir en una carrera.
            <br>
            —Qué chistosa que eres tortuga, debes estar bromeando—dijo la liebre mientras se reía a carcajadas.
            <br>
            —Ya veremos liebre, guarda tus palabras hasta después de la carrera— respondió la tortuga.
            <br>
            Al día siguiente, los animales del bosque se reunieron para presenciar la carrera. Todos querían ver si la tortuga en realidad podía vencer a la liebre.
            <br>
            El oso comenzó la carrera gritando:
            <br>
            —¡En sus marcas, listos, ya!
            <br>
            La liebre se adelantó inmediatamente, corrió y corrió más rápido que nunca. Luego, miró hacia atrás y vio que la tortuga se encontraba a unos pocos pasos de la línea de inicio.
            <br>
            —Tortuga lenta e ingenua—pensó la liebre—. ¿Por qué habrá querido competir, si no tiene ninguna oportunidad de ganar?
            <br>
            Confiada en que iba a ganar la carrera, la liebre decidió parar en medio del camino para descansar debajo de un árbol. La fresca y agradable sombra del árbol era muy relajante, tanto así que la liebre se quedó dormida.
            <br>
            Mientras tanto, la tortuga siguió caminando lento, pero sin pausa. Estaba decidida a no darse por vencida. Pronto, se encontró con la liebre durmiendo plácidamente. ¡La tortuga estaba ganando la carrera!
            <br>
            Cuando la tortuga se acercó a la meta, todos los animales del bosque comenzaron a gritar de emoción. Los gritos despertaron a la liebre, que no podía dar crédito a sus ojos: la tortuga estaba cruzando la meta y ella había perdido la carrera

        </p>
        <h3>Moraleja: Ten una buena actitud y no te burles de los demás. Puedes ser más exitoso haciendo las cosas con constancia y disciplina que actuando rápida y descuidadamente.</h3>
    </body>
</html>