<!DOCTYPE html>
<html lanf = "en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title>
            Document
        </title>
    </head>
    <body>
        <form name = "datosBasicos" action = "../inicio.html" method = "">
            <h1><img 
                src="../assets/img/triforce.png"
                height="100" width="100">
                Datos Básicos
            </h1>
            <label for = "perfil">
                Describa su perfil
            </label>
            <input id = "perfil"  type="text">
            <br>
            <label for = "tipoI">
                Tipo de identificación
            </label>
            <select for = "tipoI">
                <option value="0" selected="">Seleccione un tipo de documento</option>
                <option value="NUIP" selected="">Número Único de Identificación</option>
                <option value="TI" selected="">Tarjeta de Identidad</option>
                <option value="CC" selected="">Cédula de Ciudadanía</option>
                <option value="CE" selected="">Cédula de Extranjería</option>
            </select>
            <br>
            <label for = "numI">
                Número de identificación
            </label>
            <input id = "numI">
            <br>
            <label for = "apellidos">
                Apellidos
            </label>
            <input id = "apellidos" type="text">
            <br>
            <label for = "nombres">
                Nombres
            </label>
            <input id = "nombres"  type="text">
            <br>
            <label for = "genero">
                Género
            </label>
            <input id = "genero"  type="radio">F
            <input id = "genero"  type="radio">M
            <input id = "genero"  type="radio">NB
            <br>
            <label for = "eCivil">
                Estado Civil
            </label>
            <input id = "eCivil"  type="radio">Soltero
            <input id = "eCivil"  type="radio">Casado
            <input id = "eCivil"  type="radio">Unión Libre
            <br>
            <label for = "numContacto">
                Número telefónico de contacto
            </label>
            <input id = "numContacto">
            <br>
            <label for = "direccion">
                Dirección de residencia
            </label>
            <input id = "direccion"  type="text">
            <br>
            <label for = "corContacto">
                Correo electrónico de contacto
            </label>
            <input id = "corContacto">
            <br>
            <label for = "password">
                Contraseña
            </label>
            <input id = "password" type="password">


        </form>
    </body>
</html>