<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charet = "UTF-8">
        <meta name = "Horario" content = "width = device-width, initial-scale = 1.0">
        <link rel = "icon" href = "../assets/icon/bxs-cat.svg">

        <title>
            Horario de JM
        </title>
        <body>
            <center>
                <table style="color: Black;" border="1">
                    <caption><b>Horario Semanal</b></caption>
                    <tr>
                        <th>
                            <b>Hora</b>
                        </th>
                        <th>
                            <b>Lunes</b>
                        </th>
                        <th>
                            <b>Martes</b>
                        </th>
                        <th>
                            <b>Miércoles</b>
                        </th>
                        <th>
                            <b>Jueves</b>
                        </th>
                        <th>
                            <b>Viernes</b>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            7:00 am
                        </td>
                        <td></td>
                        <td rowspan="4" style="background: turquoise;">
                            <center>
                                MASN
                            </center>
                        </td>
                        <td></td>
                        <td rowspan="4" style="background: turquoise;">
                            <center>
                                MASN
                            </center>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            7:30 am
                        </td>
                        <td rowspan="3" style="background: pink">
                            <center>
                                Capstone
                            </center>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            8:00 am
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            8:30 am
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            9:00 am
                        </td>
                        <td rowspan="4" style="background: firebrick; color: white">
                            <center>
                                Geometría Computacional<br>y<br>Diferencial
                            </center>
                        </td>
                        <td rowspan="4" style="background: red; color: white">
                            <center>
                                Monitoría<br>de<br>Programación
                            </center>
                        </td>
                        <td rowspan="4" style="background: firebrick; color: white">
                            <center>
                                Geometría Computacional<br>y<br>Diferencial
                            </center>
                        </td>
                        <td rowspan="4" style="background: firebrick; color: white">
                            <center>
                                Geometría Computacional<br>y<br>Diferencial
                            </center>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            9:30 am
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            10:00 am
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            10:30 am
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            11:00 am
                        </td>
                        <td rowspan="4" style="background: blue; color: white;">
                            <center>
                                E-Sports
                            </center>
                        </td>
                        <td></td>
                        <td rowspan="4" style="background: blueviolet; color: white">
                            <center>
                                Desarrollo Web
                            </center>
                        </td>
                        <td></td>
                        <td rowspan="4" style="background: blueviolet; color: white">
                            <center>
                                Desarrollo Web
                            </center>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            11:30 am
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            12:00 m
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            12:30 m
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            1:00 pm
                        </td>
                        <td>
                            
                        </td>
                        <td rowspan="4" style="background: green; color: white">
                            <center>
                                Diseño y Arquitectura<br>de<br>Software
                            </center>
                        </td>
                        <td></td>
                        <td rowspan="4" style="background: green; color: white">
                            <center>
                                Diseño y Arquitectura<br>de<br>Software
                            </center>
                        </td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            1:30 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td>
                            2:00 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            2:30 pm
                        </td>
                        <td style="background: orange;">
                            <center>
                                Reunión de Tesis
                            </center>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            3:00 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td rowspan="4" style="background: goldenrod; color: black">
                            <center>
                                StoryTelling
                            </center>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            3:30 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            4:00 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            4:30 pm
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </center>
            <p><a href="../inicio.html"><b><u>Vuelta al inicio.</u></b></a></p>
        </body>
    </head>
</html>