<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Intro a HTML">
        <title>Ejercicios Básicos de HTML</title>
        <link rel = "" href = "../assets/img/bxs-cat.svg">
    </head>
    <body>
        <h1>Hello World</h1>
        <h2>Hello World</h2>
        <h3>Hello World</h3>
        <p>Testing a paragraph<br>Hemlo<br><strong>Esto es para negrilla</strong><br>
        y esto es para un subíndice S<sub>i</sub></p>
        
        <img src = "../assets/img/Orenji.png">
        <ul>
            <li>Objeto 1</li>
            <li><strong>Objeto Negrita</strong></li>
            <li>Objeto 2</li>
        </ul>
        <p><center>Prueba de centrado (Desactualizado)</center></p>
    </body>
</html>