<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Link, el héroe de Hyrule">
        <title>Link, el héroe de Hyrule</title>
        <link rel = "icon" type="image/x-icon" href = "../assets/icon/bxs-cat.svg">
    </head>
    <body style = "background-color: rgb(0, 189, 255);">
        <h1 style = "color: rgb(247, 241, 194);"><center>Link, el héroe de Hyrule</center></h1>
        <center>
            <a href="./smash.html"><img 
            src = "../assets/img/triforce.png"
            height="50" width="50"></a>
            <p style = "color: white; margin: 2cm;">
                Desde su primera aparición en 1986, Link ha sido uno de los personajes más icónicos en los videojuegos.
                <br>
                Siguiendo la historia de un aventurero en una tierra en decadencia como lo es Hyrule, armado únicamente con su valor y una misteriosa espada destinada a sellar la oscuridad.    
            </p>
            <img
            src = "../assets/img/Link_TLoZ_BotW.png"
            height="200" width="200">
            <p style = "color: white; margin: 2cm;" >
                En casi todas las entregas de The Legend of Zelda, la saga de la cual hace parte Link, tiene que salvar a la tierra de Hyrule de las garras de la encarnación del mal, Ganondorf. Todo esto apoyado por la princesa Zelda, descendiente de la semidiosa Hylia.
                <br>
                Estos tres resultan ser reencarnaciones de aquellos que inicialmente recibieron cada una de las partes de la trifuerza, robada por el primer Ganondorf y dividiéndola por su falta de balance.
            </p>
            <img
            src = "../assets/img/goddesses.png"
            height="200" width="200">
            <p style = "color: white">
                Esta trifuerza es la esencia de las tres diosas primigenias combinadas:
            </p>
            <ul>
                <li style="color: white">Din, diosa del fuego y del poder</li>
                <li style="color: white">Nayru, diosa del agua y de la sabiduría</li>
                <li style="color: white">Farore, diosa de la vida y del corage</li>
            </ul>
            <img 
            src = "../assets/img/triforce.png"
            height="50" width="50">

    </center>
    <p style="color: white"><a href="../inicio.html"><b><u>Vuelta al inicio.</u></b></a></p>
    </body>
</html>