<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Intro a HTML">
        <title>Fábula</title>
        <link rel = "" href = "../assets/img/bxs-cat.svg">
        <link rel = "stylesheet" type = "text/css" href = "../assets/css/stylesParagraph.css">
    </head>
    <body>
        <p class="azul">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit vel culpa nobis repudiandae officia fugiat consequuntur adipisci totam ipsam provident, praesentium sit! Accusantium ipsa fugiat nobis quae fugit nihil minima.</p>
        <p class="amarillo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam quia qui ex excepturi dicta temporibus reprehenderit soluta maiores impedit inventore, assumenda, velit architecto perferendis nostrum mollitia laboriosam dolorum unde dolor!</p>
        <p class="rojo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, ab exercitationem consequatur reiciendis quo blanditiis veniam itaque sapiente nulla quisquam debitis, nobis error cumque delectus asperiores architecto saepe iusto fugit?</p>
        <h2>Moraleja: Nuestros sueños y planes no deben apartarnos de nuestra realidad</h2>
        <h2 id="oli">Esta es la segunda H2, a ver qué onda sale.</h2>
        <p>Hasta muchos siglos después no se dudó de la existencia efectiva de ambos, señalando además la perfecta antítesis entre las dos figuras: <span class="esopo"><a>Homero como cantor de las gestas de los héroes</a></span>, Esopo como retratista de la plebe, de las debilidades humanas bajo aspecto de animales. En ambos casos, numerosas ciudades se disputaron el honor de ser su cuna.</p>
    </body>
</html>