<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charet = "UTF-8">
        <meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
        <link rel = "icon" href = "../assets/icon/bxs-cat.svg">

        <title>
            Document
        </title>
        <body>
            <center>
                <table style="color: Black;" border="1">
                    <caption><b>Horario Semanal</b></caption>
                    <tr>
                        <th>
                            <b>Hora</b>
                        </th>
                        <th>
                            <b>Lunes</b>
                        </th>
                        <th>
                            <b>Martes</b>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            7:00 am
                        </td>
                        <td colspan="2">
                            Desayuno
                        </td>
                    </tr>
                    <tr>
                        <td>
                            8:00 am
                        </td>
                        <td>
                            Reunión
                        </td>
                        <td>
                            Clase
                        </td>
                    </tr>
                </table>
            </center>
        </body>
    </head>
</html>