<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "Juan Manuel Dávila" content = "Quiz en el que se juega Stop">
        <title>Quiz</title>
        <link rel = "icon" href = "../assets/img/edit-regular-24.png">
    </head>
    <body>
        <center>
            <table border = "2">
                <tr style="color: black; border: 3;">
                    <th>
                        Letra
                    </th>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Cosa
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Lugar
                    </th>
                    <th>
                        Atributo HTML
                    </th>
                    <th>
                        Total
                    </th>
                </tr>
                <tr style="color: black; border: 1">
                    <td>V</td>
                    <td>Valentina</td>
                    <td>Valencia</td>
                    <td><img
                        src = "../assets/img/vagon.jpeg"
                        height="100" width="100"></td>
                    <td style="background-color:purple;"></td>
                    <td>valencia</td>
                    <td style="text-decoration: underline;">value</td>
                    <td style="font-weight: bold;">1</td>
                </tr>
                <tr style="color: black; border: 1">
                    <td>D</td>
                    <td>Dana</td>
                    <td>Dávila</td>
                    <td><img
                        src = "../assets/img/dado.png"
                        height="100" width="100"></td>
                    <td style="background-color: peachpuff;"></td>
                    <td>dakar</td>
                    <td style="text-decoration: underline;">display</td>
                    <td style="font-weight: bold;">1</td>
                </tr>
                <tr style="color: black; border: 1">
                    <td>U</td>
                    <td>Ulises</td>
                    <td>Urueña</td>
                    <td><img
                        src = "../assets/img/Unknown.jpeg"
                        height="100" width="100"></td>
                    <td style="background-color: #4273B8;"></td>
                    <td>usme</td>
                    <td style="text-decoration: underline;">user-zoom</td>
                    <td style="font-weight: bold;">1</td>
                </tr>
                <tr style="color: black; border: 1">
                    <td>X</td>
                    <td>Xavier</td>
                    <td>Xuárez</td>
                    <td><img
                        src = "../assets/img/xenon.jpeg"
                        height="100" width="100"></td>
                    <td style="background-color: #738678;"></td>
                    <td>xeraco</td>
                    <td style="text-decoration: underline;">x-tag</td>
                    <td style="font-weight: bold;">1</td>
                </tr>
                <tr style="color: black; border: 1">
                    <td>R</td>
                    <td>René</td>
                    <td>Rivera</td>
                    <td><img
                        src = "../assets/img/rollo.jpeg"
                        height="100" width="100"></td>
                    <td style="background-color: #F50087;"></td>
                    <td>reino unido</td>
                    <td style="text-decoration: underline; ">rowspan</td>
                    <td style="font-weight: bold;">1</td>
                </tr>
            </table>
        </center>
    </body>
</html>
