<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "Super Smash Bros.">
        <title>Super Smash Bros.</title>
        <link rel = "icon" type="image/x-icon" href = "../assets/icon/bxs-cat.svg">
    </head>
    <body style = "background-color: black;">
        <center>
            <h1 style = "color: white;">Super Smash Bros.</h1>
            <img
            src = "../assets/img/ssb.png"
            height="100" width="100">
        </center>
        <h2 style="color: white; margin-left: 2cm; margin-right: 2cm;">¿Qué es?</h2>
        <p style="color: white; margin-left: 4cm; margin-right: 2cm;">
            Super Smash Bros. es una saga de videojuegos de luchas en la 
            cual se enfrentan personajes de diferentes sagas mayormente 
            de Nintendo. Sin embargo a lo largo de los años se han 
            <i>unido al combate</i> más personajes que hacen parte de 
            la propiedad intelectual de otras compañías.
            Un ejemplo de esto es Sonic, el eterno rival de Mario.
        </p>
        <h2 style="color: white; margin-left: 2cm; margin-right: 2cm;">¿Cómo surgió?</h2>
        <p style="color: white; margin-left: 4cm; margin-right: 2cm;">
            En el año 1999 y para la consola Nintendo 64, un joven Masahiro Sakurai (creador también de Kirby), 
            junto con el fallecido presidente de Nintendo (quien entonces apenas era un programador) Satoru Iwata 
            empezaron a desarrollar en sus tiempos libres un juego de pelea con un estilo 
            diferente al de aquellos ya existentes como Mortal Kombat o Street Fighter.
            <center>
                <img
                src = "../assets/img/Sakurai.jpeg"
                height="200" width="350">
                <h5 style="color:white">Masahiro Sakurai</h5>
            </center>
        </p>
        <p style="color: white; margin-left: 4cm; margin-right: 2cm;">

            En medio del desarrollo, decidieron vender el concepto a Nintendo y utilizar 
            la imagen de sus propiedades intelectuales más conocidas a la fecha, a lo cual aceptaron.
            <br>
            Así es como se eligieron a los "12 iniciales":
            <center>
                <ul>
                    <li style="color: white;">Mario, de la saga Super Mario Bros</li>
                    <li style="color: white;">Luigi, de la saga Super Mario Bros y hermano de Mario</li>
                    <li style="color: white;">Yoshi, de la saga Super Mario Bros</li>
                    <li style="color: white;"><a href="./link.html" target="_parent">Link, de la saga The Legend of Zelda</a></li>
                    <li style="color: white;">Kirby, de la saga Kirby</li>
                    <li style="color: white;">Donkey Kong, de la saga Donkey Kong</li>
                    <li style="color: white;">Fox, de la saga Star Fox</li>
                    <li style="color: white;">Samus, de la saga Metroid</li>
                    <li style="color: white;">Pikachu, de la saga Pokémon</li>
                    <li style="color: white;">Jigglypuff, de la saga Pokémon</li>
                    <li style="color: white;">Captain Falcon, de la saga F-Zero</li>
                    <li style="color: white;">Ness, de la saga Earthbound</li>
                </ul>
            </center>  
        </p>
        <h2 style="color: white; margin-left: 2cm; margin-right: 2cm;">Actualidad</h2>
        <p style="color: white; margin-left: 4cm; margin-right: 4cm">
            Dos décadas después del lanzamiento del primer juego, 
            la saga es una de las más populares de la compañía y con cada anuncio 
            de personajes nuevos se generaban eventos con espectadores alrededor del 
            mundo, como sucedió en los Game Awards de 2017 con la presentación de Joker, 
            del videjuego Persona 5.
        </p>
        <center>
            <table style="color: white;" border="1">
                <caption><b>Entregas</b></caption>
                <tr>
                    <th>
                        <b>Nombre de la entrega</b>
                    </th>
                    <th>
                        <b>Año</b>
                    </th>
                    <th>
                        <b>Consola</b>
                    </th>
                </tr>
                <tr>
                    <td>
                        Super Smash Bros.
                    </td>
                    <td>
                        1999
                    </td>
                    <td>
                        Nintendo 64
                    </td>
                </tr>
                <tr>
                    <td>
                        Super Smash Bros. Melee
                    </td>
                    <td>
                        2001
                    </td>
                    <td>
                        Nintendo Gamecube
                    </td>
                </tr>
                <tr>
                    <td>
                        Super Smash Bros. Brawl
                    </td>
                    <td>
                        2008
                    </td>
                    <td>
                        Nintendo Wii
                    </td>
                </tr>
                <tr>
                    <td>
                        Super Smash Bros. 4
                    </td>
                    <td>
                        2013
                    </td>
                    <td>
                        Nintendo WiiU y Nintendo 3DS
                    </td>
                </tr>
                <tr>
                    <td>
                        Super Smash Bros. Ultimate
                    </td>
                    <td>
                        2017
                    </td>
                    <td>
                        Nintendo Switch
                    </td>
                </tr>
            </table>
        </center>
        <p style="color: white"><a href="../inicio.html"><b><u>Vuelta al inicio.</u></b></a></p>
    </body>
</html>