@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.esopo{
    width:800px;
    background-color: #15a085;
    margin: 50px auto;
    border: 4px dashed #FCFC34;
    padding: 30px 30px 30px 30px;
    color: #FFFFFF;
}
.homero{
    font-family: "Lato", sans-serif;
    font-style: italix;
    text-decoration: underline;
    color: #FCFC34;
}
.homero a:link{
    color:yellow;
}
.homero a:visited{
    color: purple;
}
.homero a:hover{
    color: aqua;
}