<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset = "UTF-8">
        <meta name = "MWTH" content = "">
        <title>The Legend of Zelda</title>
        <link rel = "" href = "../assets/img/bxs-cat.svg">
        <link rel="stylesheet" href="/assets/css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    </head> 
    <body>
        <!-- Header -->
        <div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/inicio.html">
                        <img src="../../assets/img/triforce.png">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                            </li>
                        </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Buscar</button>
                    </form>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Tabs -->
        <div class ="characters">
            <ul class="nav nav-tabs justify-content-center">
                <li class="nav-item">
                    <a class="nav-link"  href="zelda.html">Zelda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="link.html">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  active" aria-current="page" href="#">Ganondorf</a>
                </li>
            </ul>
        </div>
        <div class="char">
            <img src="/assets/img/ganondorf.webp">
            <div class="ganon-description">
                <h1>Ganondorf</h1>
                <p>Rey de las Gerudo, una raza de mujeres guerreras. Desea hacerse con el poder sagrado de la Trifuerza.</p>
            </div>
        </div>
    </body>
</html>